body {
	background-color:aquamarine ;
	text-align: center;
	font-size:40px ;
}

.titulo {
	font-size: 35px;
	color: gray;
}

.paragrafo1 {
	font-size: 25px;
	color: darkblue;

}


.paragrafo2 {
	font-size: 50px;
	color: darkblue;
}

.naosei {
	font-size:125px ;
	color: darkblue;
	text-align: !important;
	shape-margin: 400px;
}


.box {
	background-color: gray;
	border: 2px solid #ccc;
	padding: 30px;
	margin: 30px auto;
	width: 90%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius:90px ;
}
